.env
.env.*
!.env.example
.git
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
staticfiles
media
.pytest_cache
celerybeat-schedule*
debug
*.log
